<h3>Agregar tarea</h3>
<div class="row">
    <div class="col-sm-6">
        <form>
            <div class="py-1">
                <label for="nombre" class="form-label">Nombre:</label>
                <input [(ngModel)]="tarea.nombre" id="nombre" name="nombre" type="text" class="form-control">
            </div>
            <div class="py-1">
                <label for="descripcion" class="form-label">Descripción:</label>
                <input [(ngModel)]="tarea.descripcion" id="descripcion" name="descripcion" type="text" class="form-control">
            </div>
            <div class="py-1">
                <label for="creador" class="form-label">Creador:</label>
                <input [(ngModel)]="tarea.creador" id="creador" name="creador" type="text" class="form-control">
            </div>
            <button (click)="create()" type="button" class="btn btn-success">Crear</button>
        </form>
    </div>
</div>